@import "tailwindcss";

@theme {
  --color-main-dark: #1e1e1e;
  --color-sec-dark: #1B211A;
  --color-main-blue: #0947e2;
  --color-dark-bg: #132440
}

/* Ensure the body changes color smoothly */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}


@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(400%); }
}

.animate-scan {
  animation: scan 3s linear infinite;
}


/* User Pulse Animation */
.user-pulse {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(79, 70, 229, 0.2);
  border-radius: 50%;
  animation: pulse 2s infinite;
  z-index: 1;
  top: -25px;
  left: -25px;
}

@keyframes pulse {
  0% { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(1.5); opacity: 0; }
}

/* Smart Item Tags */
.map-item-tag {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 4px 12px 4px 4px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  border: 1px solid #e2e8f0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.map-item-tag:hover {
  transform: translateY(-5px) scale(1.05);
  z-index: 999;
}

.tag-price {
  background: #4f46e5;
  color: white;
  padding: 4px 8px;
  border-radius: 50px;
  font-weight: 900;
  font-size: 11px;
  margin-right: 8px;
}

.tag-name {
  font-weight: 800;
  font-size: 11px;
  color: #1e293b;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Clean Popups */
.dharlink-popup .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  padding: 0;
}
.dharlink-popup .leaflet-popup-tip { display: none; }